/* Basic */

body{
    background-image: url(../img/Landing.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top center;
}

.container {
    width: 1120px;
    padding: 0 16px;
}

.d-flex{
    display: flex;
}
main{
    align-items: center;
}
footer{
    bottom: 30px;
    position: absolute;
}
/* Header */
header {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navigation {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header form {
    display: flex;
}

header form label {
    width: 168px;
    display: flex;
    height: 45px;
    padding: 14px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    margin-right: 16px;
}

header form input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
}

header form button {
    width: 168px;
    height: 45px;
    border-radius: 14px;
    border: none;
    outline: none;
    color: #0D0D0D;
    font-weight: bold;
}

header form input::placeholder {
    color: #fff;
}

header form i {
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.navigation p {
    color: #FFFFFF;
    opacity: 0.6;
}
nav a{
    color: #FFFFFF;
    margin-right: 16px;
}
nav a:last-of-type{
    margin-right: 0;
}
nav{
    margin-right: 31px;
}
/* Finish Header */

/* Main */

.main-wrap-div-box p{
    font-size: 14px;
    color: #FFFFFF;
}
.main-wrap-div-box h1{
    font-size: 48px;
    color: #FFFFFF;
    margin-top: 1px;
    margin-right: 47px;
}
.main-wrap-div-box div {
    margin-top: 33px;
}
.main-wrap-div-box div a {
    color: #FFFFFF;
    padding: 12px 45px 14px 45px;
    background-color: #242AEC;
    border-radius: 14px;
}
.main-wrap-div{
    margin-top: 153px;
}
main .lighting{
    background-image: url(../img/lighting.svg);
    width: 266px;
    height: 89px;
    position: relative;
}
main span{
    font-size: 48px;
    color: #FFFFFF;
    position: absolute;
    left: 40px;
}
/* Finish Main */

/* Start footer */

hr {
    background-image: linear-gradient(to left, #0a090f00, #35323B);
    height: 1px;
    border: none;
    width: 100%;
    width: 649px;
    text-shadow: #000000;
    margin: 0;
  }

.free-updates{
    margin-top: 30px;
    height: 48px;
}
.free-updates a{
    color: #FFFFFF;
    border-radius: 16px;
    background-color: #191917;
    padding: 14px 31px 15px 29px;
}
.footer-wrap-div > p{
    margin-left: 16px;
    margin-right: 8px;
    color: #FFFFFF;
    opacity: 0.53;
}

.footer > p{
    margin-top: 14px;
    font-size: 14px;
    color: #FFFFFF;
}
.footer-wrap-div{
    display: flex;
    align-items: center;
}
.footer-wrap-div:nth-child(3) div a {
    margin-right: 16px;
    color: #FFFFFF;
}
.footer-wrap-div:nth-child(3) div a:last-of-type {
    margin-right: 0;
}
.copyright{
    margin-top: 25px;
    align-items: center;
}
.copyright p{
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 10px;
}
.copyright a{
    font-size: 14px;
    color: #FFFFFF;
}