@import "common.scss";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    

    &.photos {
        background-color: rgb(29,32,43);
        background: linear-gradient(90deg, rgba(29,32,43,1) 0%, rgba(40,32,42,1) 35%, rgba(40,32,42,1) 100%);
    }
    &.specification {
        background-image: url(../img/photos-1.png);
        background-position: top -160px center, top center;
        background-size: 1932px, 100%;
    }
    &.order-now{
        background-color: rgb(29,32,43);
        background-image: url(../img/bg-order-now.png), linear-gradient(90deg, rgba(29,32,43,1) 0%, rgba(40,32,42,1) 35%, rgba(40,32,42,1) 100%);
        background-position: bottom 160px center, top center;
    }
}




.container {
    width: 1500px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    z-index: 2;

    @include xl {
        width: 1120px;
    }

    @include lg {
        width: 100%;
    }
}

.d-flex {
    display: flex;
}

main {
    display: flex;
    align-items: center;
    height: 100%;
}
.btn {
    color: #ffffff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    text-align: center;
}

@font-face {
    font-family: fira;
    src: url(../fonts/FiraGO-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: fira;
    src: url(../fonts/FiraGO-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: fira;
    src: url(../fonts/FiraGO-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: fira;
    src: url(../fonts/FiraGO-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: fira;
    src: url(../fonts/FiraGO-Heavy.ttf);
    font-weight: 900;
}
@font-face {
    font-family: fira;
    src: url(../fonts/FiraGO-UltraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Montdemo;
    src: url(../fonts/Mont-HeavyDEMO.otf);
    font-weight: 900;
}
@font-face {
    font-family: fira;
    src: url(../fonts/FiraGO-Light.ttf);
    font-weight: 300;
}
