@import '../common.scss';

header {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation {
        display: flex;
        align-items: center;
        p {
            color: #ffffff;
            opacity: 0.6;
            margin-right: 20px;
            margin-left: 35px;
        }
    }
    .header-order-btn{
        width: 214px;
        height: 45px;
        background-color: #ffffff;
        color: #0D0D0D;

        i {
            color: #000000;
            margin-right: 9px;
        }
    }  

    nav {
        margin-right: 31px;

        @include md {
            display: none;
        }

        a {
            color: #ffffff;
            margin-right: 16px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
