section.landing {
    p {
        font-size: 14px;
        color: #ffffff;
    }

    h1 {
        font-size: 48px;
        color: #ffffff;
        margin-top: 1px;
        margin-bottom: 20px;
        margin-right: 47px;
    }
    .order-sound--btn-wrap {

        display: flex;
        align-items: center;
        
        .order-btn {
            background-color: #242aec;
            width: 168px;
            height: 48px;
            margin-right: 22px;
            i {
                width: 20px;
                height: auto;
                margin-right: 12px;
            }
        }
        .sound-btn{
            width: 45px;
            height: 45px;
            background-color: #707070;
        }
        
    }
    
}
